[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/bootstrap-theme"]
	path = .themes/bootstrap-theme
	url = https://github.com/bkutil/bootstrap-theme
